//hover color
$background-color-navHover: #e7e7e7;

//text color
$text-color-header: #363636;
$text-color-ourServices: #818181;

//background color
$background-color-buttonBanner: #f9bf34;
$background-color-buttonContact: #f9ce06;
$background-color-buttonSwitch: #e2e1e1;
$background-color-ourServices: #f5f5f5;

//border color
$border-color-contactUs: #d3d3d3;