@import 'color';


#header {
    top: 0;
    position: sticky;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
            &:hover {
                background-color: $background-color-navHover;
            }
            a {
                display: inline-block;
                padding: 0 11px;
                line-height: 81px;
                color: $text-color-header;
                text-decoration: none;
            }
        }
    }
}