@import 'color';


#header {
    top: 0;
    position: sticky;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    .btnShowMenu {
        display: none;
    }
    .screenLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileLogo {
        display: none;
    }
    .mobileNav {
        display: none;
    }

    .screenNav {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            &:hover {
                background-color: $background-color-navHover;
            }
            a {

                display: inline-block;
                line-height: 81px;
                padding: 0 11px;
                font-size: 14px;
                color: $text-color-header;
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    #header {
        padding: 30px 34px 30px 26px;
        justify-content: space-between;
        .screenLogo {
            display: none;
        }
        .mobileLogo {
            display: inline-block;
        }
        .screenNav {
            display: none;
        }
        .btnShowMenu {
            display: block;
            cursor: pointer;
            border: none;
            background: #fff;
            padding: 0;
        }
        .mobileNav {
            display: block;
            position: absolute;
            top: 137px;
            left: 0;
            list-style-type: none;
            padding: 0;
            margin: 0;
            width: 100%;
            background: #fff;
            li {
                &:hover {
                    background-color: $background-color-navHover;
                }
                a {
                    width: 100%;
                    display: inline-block;
                    line-height: 81px;
                    padding: 0 0 0 52px;
                    font-size: 28px;
                    color: $text-color-header;
                    text-decoration: none;
                    text-align: left;
                }
            }
        }
    }
}