@import 'color';


#header {
    top: 0;
    position: sticky;
    z-index: 10;
    background: #fff;
    display: flex;
    justify-content: space-evenly;
    .menu {
        display: none;
    }
    .screenLogo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobileLogo {
        display: none;
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            &:hover {
                background-color: $background-color-navHover;
            }
            a {

                display: inline-block;
                line-height: 81px;
                padding: 0 11px;
                font-size: 14px;
                color: $text-color-header;
                text-decoration: none;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    #header {
        padding: 30px 34px 30px 26px;
        justify-content: space-between;
        .screenLogo {
            display: none;
        }
        .mobileLogo {
            display: inline-block;
        }
        ul {
            display: none;
        }
        .menu {
            display: block;
            cursor: pointer;
            border: none;
            background: #fff;
            padding: 0;
        }
    }
}