@import 'color';
@import 'mixin';

#news {
    @include layout;
    background-color: $background-color-ourServices;
    .content {
        display: flex;
        justify-content: space-between;
        .leftContent {
            background: #fff;
            div {
                width: 620px;
                h3 {
                    font-size: 15px;
                    line-height: 12px;
                    margin: 19px 0;
                    padding-left: 29px;
                }
                p {
                    padding-left: 29px;
                    margin: 0 0 25px 0;
                    width: 525px;
                    word-spacing: 2px;
                    color: $text-color-ourServices;
                }
            }
        }
        .rightContent {
            width: 300px;
            height: 358px;
            background: #fff;
            padding-left: 30px;
            h3 {
                font-size: 15px;
                line-height: 12px;
                margin-top: 34px;
                margin-bottom: 19px;
            }
            div {
                display: flex;
                margin-bottom: 19px;
                p {
                    height: 47px;
                    width: 156px;
                    margin: 0;
                    margin-left: 12px;
                    color: $text-color-ourServices;
                    &:hover {
                        color: #000;
                    }
                }
            }
        }
    }
    .mobileContent {
        display: none;
    }
    .viewMoreWorks {
        display: none;
    }
}
@media screen and (max-width: 640px){
    #news {
        padding: 126px 32px 110px;
        .title {
            h2 {
                font-size: 36px;
                line-height:27px;
            }
            span {
                width: 89px;
                margin-bottom: 66px;
            }
        }
        .content {
            display: none;
        }
        .mobileContent {
            display: block;
            h3 {
                font-size: 28px;
                line-height: 20px;
                margin: 32px 0 32px;
            }
            p {
                font-size: 28px;
                margin: 0 0 75px;
                color: $text-color-ourServices;
            }
        }
        .viewMoreWorks {
            display: block;
            padding: 0 102px 0 105px;
            button {
                font-size: 12px;
                line-height: 20px;
                font-weight: 600;
                width: 100%;
                cursor: pointer;
                padding: 27px 87px;
                background-color: #fff;
                color: #000;
                border: 1px solid #000;
            }
            
        }

    }
}