@import 'color';
@import 'mixin';


#ourServices {
    @include layout;
    background: $background-color-ourServices;
    .content {
        display: flex;
        justify-content: space-between;
        .itemOurServices {
            width: 301px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #fff;
            img {
                margin: 50px 0 32px 0;
            }
            h3 {
                font-size: 15px;
                line-height: 12px;
                margin-top: 0;
                margin-bottom: 35px;
            }
            p {
                font-size: 14px;
                text-align: center;
                letter-spacing: 1px;
                color: $text-color-ourServices;
                margin-top:0;
                margin-bottom: 48px;
                padding: 0 37px 0 37px;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    #ourServices {
        padding: 126px 66px 130px;
        .title {
            h2 {
                font-size: 36px;
                line-height:27px;
            }
            span {
                width: 89px;
                margin-bottom: 66px;
            }
        }
        .content {
            flex-direction: column;
            .itemOurServices {
                width: 100%;
                margin-bottom: 66px;
                img {
                    height: 53px;
                    width: 53px;
                    margin: 66px 0 42px 0;
                }
                h3 {
                    margin: 0;
                    font-size: 28px;
                    line-height: 21px;
                }
                p {
                    margin: 57px 0 64px 0;
                    font-size: 28px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}