html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

#header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#header .btnShowMenu {
  display: none;
}

#header .screenLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .mobileLogo {
  display: none;
}

#header .mobileNav {
  display: none;
}

#header .screenNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#header .screenNav li:hover {
  background-color: #e7e7e7;
}

#header .screenNav li a {
  display: inline-block;
  line-height: 81px;
  padding: 0 11px;
  font-size: 14px;
  color: #363636;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  #header {
    padding: 30px 34px 30px 26px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header .screenLogo {
    display: none;
  }
  #header .mobileLogo {
    display: inline-block;
  }
  #header .screenNav {
    display: none;
  }
  #header .btnShowMenu {
    display: block;
    cursor: pointer;
    border: none;
    background: #fff;
    padding: 0;
  }
  #header .mobileNav {
    display: block;
    position: absolute;
    top: 137px;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #fff;
  }
  #header .mobileNav li:hover {
    background-color: #e7e7e7;
  }
  #header .mobileNav li a {
    width: 100%;
    display: inline-block;
    line-height: 81px;
    padding: 0 0 0 52px;
    font-size: 28px;
    color: #363636;
    text-decoration: none;
    text-align: left;
  }
}

#banner {
  position: relative;
  height: 812px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/imgBanner1.png);
  background-size: cover;
  background-position: center;
}

@font-face {
  #banner {
    font-family: arial_bold;
    src: url(../fonts/font_arial/Arial-BoldMT.otf);
    font-weight: bold;
  }
}

#banner div h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  line-height: 45px;
  margin: 160px 0 0;
}

#banner div h4 {
  font-size: 20px;
  line-height: 20px;
  margin: 27px 0 50px 0;
}

#banner div button {
  cursor: pointer;
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  line-height: 10px;
  margin-bottom: 157px;
}

#banner div button:nth-child(1) {
  margin-right: 14px;
  border: 1px solid #fff;
  background: transparent;
}

#banner div button:nth-child(1):hover {
  background: #fff;
  color: black;
}

#banner div button:nth-child(2) {
  border-style: none;
  background: #f9bf34;
  border-color: #f9bf34;
}

#banner div a {
  display: inline-block;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  margin-right: 7px;
  background: #fff;
  cursor: pointer;
}

#banner div a:nth-child(2) {
  background: #f9bf34;
}

#banner .switchBanners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  width: 45px;
  border: none;
  background: #e2e1e1;
  cursor: pointer;
  top: 50%;
  position: absolute;
  opacity: 0.7;
}

#banner .switchBanners:nth-child(5) {
  left: 0;
}

#banner .switchBanners:nth-child(6) {
  right: 0;
}

@media screen and (max-width: 640px) {
  #banner div h1 {
    font-size: 46px;
    line-height: 35px;
  }
  #banner div:nth-child(2) {
    margin-bottom: 118px;
    padding: 0 86px 0 80px;
  }
  #banner div:nth-child(2) h4 {
    font-size: 28px;
    line-height: 31px;
    margin-top: 35px;
  }
  #banner div:nth-child(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #banner div:nth-child(3) button {
    padding: 28px 39px;
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  #banner div:nth-child(3) button:nth-child(1) {
    margin-right: 0;
    border: 1px solid #fff;
    background: transparent;
  }
  #banner div:nth-child(3) button:nth-child(1):hover {
    background: #fff;
    color: black;
  }
  #banner div:nth-child(3) button:nth-child(2) {
    margin-bottom: 62px;
    border-style: none;
    background: #f9bf34;
    border-color: #f9bf34;
  }
}

#ourServices {
  padding: 89px 230px 89px 220px;
  background: #f5f5f5;
}

#ourServices .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ourServices .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#ourServices .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#ourServices .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#ourServices .content .itemOurServices {
  width: 301px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

#ourServices .content .itemOurServices img {
  margin: 50px 0 32px 0;
}

#ourServices .content .itemOurServices h3 {
  font-size: 15px;
  line-height: 12px;
  margin-top: 0;
  margin-bottom: 35px;
}

#ourServices .content .itemOurServices p {
  font-size: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #818181;
  margin-top: 0;
  margin-bottom: 48px;
  padding: 0 37px 0 37px;
}

@media screen and (max-width: 640px) {
  #ourServices {
    padding: 126px 66px 130px;
  }
  #ourServices .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #ourServices .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #ourServices .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #ourServices .content .itemOurServices {
    width: 100%;
    margin-bottom: 66px;
  }
  #ourServices .content .itemOurServices img {
    height: 53px;
    width: 53px;
    margin: 66px 0 42px 0;
  }
  #ourServices .content .itemOurServices h3 {
    margin: 0;
    font-size: 28px;
    line-height: 21px;
  }
  #ourServices .content .itemOurServices p {
    margin: 57px 0 64px 0;
    font-size: 28px;
  }
  #ourServices .content .itemOurServices:last-child {
    margin-bottom: 0;
  }
}

#ourWorks {
  padding: 89px 230px 89px 220px;
}

#ourWorks .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#ourWorks .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#ourWorks .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#ourWorks .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#ourWorks .content img:nth-child(-n+3) {
  margin-bottom: 38px;
}

#ourWorks .owViewMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
}

#ourWorks .owViewMore button {
  cursor: pointer;
  padding: 12px 33px;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  border: 1px solid #000;
  background-color: #fff;
}

@media screen and (max-width: 640px) {
  #ourWorks {
    padding: 126px 34px 95px;
  }
  #ourWorks .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #ourWorks .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #ourWorks .content img {
    height: auto;
    width: calc(50% - 17px);
    margin-bottom: 29px;
  }
  #ourWorks .owViewMore {
    margin-top: 53px;
  }
}

#clients {
  background-image: url(../img/yellowBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#clients .upClients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../img/pineBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#clients .upClients img {
  margin-top: 88px;
  margin-bottom: 28px;
}

#clients .upClients .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#clients .upClients .title h2 {
  color: #fff;
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#clients .upClients .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 48px;
  background-color: #fff;
}

#clients .upClients p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 0 420px;
  text-align: center;
}

#clients .upClients i {
  color: #fff;
  font-size: 15px;
  margin-top: 19px;
  margin-bottom: 190px;
}

#clients .downClients {
  padding: 30px 233px 30px 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#clients .downClients i {
  color: #454545;
  font-size: 17px;
}

#clients .downClients button {
  cursor: pointer;
  padding: 12px 33px;
  font-size: 12px;
  font-weight: 600;
  line-height: 10px;
  border: 1px solid #000;
  background-color: #f9ce06;
}

@media screen and (max-width: 640px) {
  #clients .upClients {
    background-image: url(../img/bgPineMobile1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #clients .upClients img {
    height: 45px;
    width: 49px;
    margin-bottom: 45px;
  }
  #clients .upClients p {
    padding: 0 88px;
    font-size: 28px;
  }
  #clients .upClients i {
    font-size: 28px;
    margin-top: 76px;
    margin-bottom: 112px;
  }
  #clients .upClients .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #clients .upClients .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #clients .downClients {
    padding: 60px 71px 60px 75px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #clients .downClients i {
    margin-bottom: 57px;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
  }
  #clients .downClients button {
    padding: 27px 65px;
    font-size: 12px;
    line-height: 20px;
  }
}

#teamMembers {
  padding: 89px 230px 89px 220px;
  padding: 89px 231px 89px 220px;
}

#teamMembers .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#teamMembers .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#teamMembers .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#teamMembers .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#teamMembers .content .itemMember h3 {
  font-size: 13px;
  line-height: 10px;
  margin: 24px 0 22px 0;
}

#teamMembers .content .itemMember p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  width: 205px;
  color: #818181;
}

@media screen and (max-width: 640px) {
  #teamMembers {
    padding: 126px 34px 120px;
  }
  #teamMembers .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #teamMembers .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #teamMembers .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
  #teamMembers .content .itemMember {
    width: calc(50% - 12.5px);
  }
  #teamMembers .content .itemMember h3 {
    font-size: 28px;
    line-height: 20px;
  }
  #teamMembers .content .itemMember img {
    width: 100%;
    height: auto;
  }
  #teamMembers .content .itemMember p {
    width: calc(100% - 15px);
    margin-bottom: 52px;
    font-size: 28px;
  }
  #teamMembers .content .itemMember:nth-child(n+2) p {
    margin-bottom: 0;
  }
}

#news {
  padding: 89px 230px 89px 220px;
  background-color: #f5f5f5;
}

#news .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#news .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#news .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#news .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#news .content .leftContent {
  background: #fff;
}

#news .content .leftContent div {
  width: 620px;
}

#news .content .leftContent div h3 {
  font-size: 15px;
  line-height: 12px;
  margin: 19px 0;
  padding-left: 29px;
}

#news .content .leftContent div p {
  padding-left: 29px;
  margin: 0 0 25px 0;
  width: 525px;
  word-spacing: 2px;
  color: #818181;
}

#news .content .rightContent {
  width: 300px;
  height: 358px;
  background: #fff;
  padding-left: 30px;
}

#news .content .rightContent h3 {
  font-size: 15px;
  line-height: 12px;
  margin-top: 34px;
  margin-bottom: 19px;
}

#news .content .rightContent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

#news .content .rightContent div p {
  height: 47px;
  width: 156px;
  margin: 0;
  margin-left: 12px;
  color: #818181;
}

#news .content .rightContent div p:hover {
  color: #000;
}

#news .mobileContent {
  display: none;
}

#news .viewMoreWorks {
  display: none;
}

@media screen and (max-width: 640px) {
  #news {
    padding: 126px 32px 110px;
  }
  #news .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #news .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #news .content {
    display: none;
  }
  #news .mobileContent {
    display: block;
  }
  #news .mobileContent h3 {
    font-size: 28px;
    line-height: 20px;
    margin: 32px 0 32px;
  }
  #news .mobileContent p {
    font-size: 28px;
    margin: 0 0 75px;
    color: #818181;
  }
  #news .viewMoreWorks {
    display: block;
    padding: 0 102px 0 105px;
  }
  #news .viewMoreWorks button {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
    padding: 27px 87px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
  }
}

#contactUs {
  padding: 89px 230px 89px 220px;
}

#contactUs .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactUs .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#contactUs .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#contactUs .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contactUs .content .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  font-size: 12px;
  line-height: 10px;
}

#contactUs .content .contactForm input {
  padding: 12px 16px;
  border-radius: 0;
  margin-bottom: 21px;
  border-style: none;
  border: 1px solid #d3d3d3;
}

#contactUs .content .contactForm textarea {
  margin-bottom: 32px;
  padding: 15px 16px;
  border-radius: 0;
  resize: none;
  border: 1px solid #d3d3d3;
}

#contactUs .content .contactForm button {
  display: inline-block;
  background: #f9ce06;
  padding: 15px 32px;
  border: none;
  border-style: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 11px;
  cursor: pointer;
}

#contactUs .content .contactInformation {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

#contactUs .content .contactInformation h3 {
  font-size: 14px;
  line-height: 12px;
  margin: 0;
}

#contactUs .content .contactInformation p {
  letter-spacing: 2px;
  margin: 10px 0 21px 0;
  font-size: 14px;
  line-height: 13px;
  color: #818181;
}

@media screen and (max-width: 640px) {
  #contactUs {
    padding: 126px 32px 100px;
  }
  #contactUs .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #contactUs .title span {
    width: 89px;
    margin-bottom: 66px;
  }
  #contactUs .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contactUs .content .contactForm {
    margin-bottom: 87px;
    font-size: 24px;
    line-height: 18px;
    padding: 25px 18px 21px;
  }
  #contactUs .content .contactForm div button {
    padding: 29px 51px 26px;
    font-size: 26px;
    line-height: 21px;
  }
  #contactUs .content .contactInformation h3 {
    font-size: 28px;
    line-height: 22px;
    margin: 30px 0 21px;
  }
  #contactUs .content .contactInformation p {
    font-size: 28px;
    line-height: 26px;
  }
}

#connectUs {
  position: relative;
  background-color: #111111;
}

#connectUs #imgConnectUs {
  width: 100%;
  height: auto;
}

#connectUs #mobileConnectUs1 {
  display: none;
}

#connectUs .wrapTitle {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 87px;
  padding: 89px 230px 89px 220px;
  padding: 0;
}

#connectUs .wrapTitle .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#connectUs .wrapTitle .title h2 {
  font-size: 17px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 2px;
}

#connectUs .wrapTitle .title span {
  display: inline-block;
  height: 4px;
  width: 43px;
  margin-top: 12px;
  margin-bottom: 59px;
  background-color: #000;
}

#connectUs .wrapTitle .title {
  color: #fff;
}

#connectUs .wrapTitle .title span {
  background-color: #fff;
}

#connectUs .wrapContent {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#connectUs .wrapContent .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#connectUs .wrapContent .content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#connectUs .wrapContent .content div img {
  height: 57px;
  width: 57px;
}

#connectUs .wrapContent .content div h3 {
  color: #dedede;
  font-size: 14px;
  line-height: 12px;
  font-weight: 500;
  margin: 29px 0 17px 0;
}

#connectUs .wrapContent .content div p {
  color: #dedede;
  font-size: 14px;
  line-height: 12px;
  margin: 0;
}

@media screen and (max-width: 640px) {
  #connectUs #imgConnectUs {
    display: none;
  }
  #connectUs #mobileConnectUs1 {
    display: block;
    width: 100%;
    height: auto;
  }
  #connectUs .wrapTitle {
    top: 111px;
  }
  #connectUs .wrapTitle .title h2 {
    font-size: 36px;
    line-height: 27px;
  }
  #connectUs .wrapTitle .title span {
    width: 89px;
  }
  #connectUs .wrapContent {
    padding: 264px 0 0;
  }
  #connectUs .wrapContent .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: calc(100% - 394px);
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  #connectUs .wrapContent .content div {
    width: calc(50% - 16px);
  }
  #connectUs .wrapContent .content div img {
    height: 84px;
    width: 84px;
  }
  #connectUs .wrapContent .content div h3 {
    font-size: 24px;
    line-height: 19px;
  }
  #connectUs .wrapContent .content div p {
    font-size: 20px;
    line-height: 16px;
  }
}

#footer {
  color: #dedede;
  background: #111111;
  padding: 41px 100px 41px 221px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer .contactFooter h3 {
  font-size: 14px;
  line-height: 16px;
}

#footer .contactFooter h3:first-child {
  margin: 0 0 19px 0;
}

#footer .contactFooter h3:nth-child(2n) {
  margin: 0;
}

#footer .contactFooter p {
  font-size: 14px;
  line-height: 16px;
  margin: 6px 0 16px 0;
}

#footer .contactFooter p:nth-child(6) {
  margin-bottom: 6px;
}

#footer .contactFooter p:nth-child(7) {
  margin: 0;
}

#footer .contactFooter p img {
  margin-right: 8px;
}

#footer .contactFooter hr {
  display: none;
}

#footer .linkFooter h3 {
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 19px 0;
}

#footer .linkFooter .wrapLinkFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .linkFooter .wrapLinkFooter div {
  margin-right: 58px;
}

#footer .linkFooter .wrapLinkFooter div p {
  font-size: 14px;
  line-height: 16px;
}

#footer .linkFooter .wrapLinkFooter div p img {
  margin-right: 6px;
}

#footer .linkFooter .mobileFooter {
  display: none;
}

@media screen and (max-width: 640px) {
  #footer {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .contactFooter {
    padding: 62px 88px 0 52px;
  }
  #footer .contactFooter h3 {
    font-size: 28px;
    line-height: 33px;
  }
  #footer .contactFooter h3:first-child {
    margin: 0 0 33px;
  }
  #footer .contactFooter p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 28px;
    line-height: 31px;
    margin: 6px 0 27px 0;
  }
  #footer .contactFooter p img {
    height: 27px;
    width: 27px;
    margin-right: 17px;
  }
  #footer .contactFooter p:last-of-type {
    margin-bottom: 46px;
  }
  #footer .contactFooter hr {
    display: block;
  }
  #footer .linkFooter {
    padding: 46px 36px 0 52px;
  }
  #footer .linkFooter h3 {
    font-size: 28px;
    line-height: 33px;
  }
  #footer .linkFooter h3:first-child {
    margin: 0 0 33px;
  }
  #footer .linkFooter .wrapLinkFooter {
    display: none;
  }
  #footer .linkFooter .mobileFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #footer .linkFooter .mobileFooter div p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    line-height: 31px;
    margin: 6px 0 27px 0;
  }
  #footer .linkFooter .mobileFooter div p img {
    height: 19px;
    width: 19px;
    margin-right: 17px;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/*# sourceMappingURL=index.css.map */